body{
    background: #120c87;
    background: linear-gradient(90deg, rgba(18, 12, 135, 1) 0%, rgba(9, 9, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


label{
    margin-bottom: 10px;
}

input{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.514);
}


input:hover , input:focus{
    outline: 1px solid purple;
    border-radius: 7px;
}

.login-button{
    width: fit-content;
}

section{
    background-color: white;
    padding: 1rem 5rem;
}
section p{
    margin-bottom: 10px;
}

section header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

section header h1{
    font-weight: bold;
    font-size: 1.5rem;
}

fieldset{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 5px;
}